.vscode/**
out/**
node_modules/**
src/**
.git/**
.github/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/*.test.ts
**/test/**
scripts/
oxlintrc.json
oxfmtrc.json
CODE_OF_CONDUCT.md
docs/
samples/
